

.calendarYearPicker{
	font-size: 15px;
	color:#000!important;
	line-height: 50px;
	padding: 2px 4px;
	border: 1px solid white;
}
.calendarYearPicker.active{
	border: 1px solid black!important;
}

.calendarMonthPicker{
	font-size: 15px;
	color:#000!important;
	line-height: 50px;
	padding: 2px 4px;
	border: 1px solid white;
}

.calendarMonthPicker.active{
	border: 1px solid black;
}




#yearsList,#monthsList{
	overflow-x: scroll;
	width: 100%;
}

.pac-container {
  z-index:20000!important;
}

.md .list .item-label, .ios .list .item-label{
	font-weight: bold;
}

.md .toolbar{
	background: #fff !important;
}

p{
	font-size: 18px !important;
	margin-bottom: 5px !important;
}
h3{
	font-size: 18px !important;
	margin:5px 0px !important;
	color:#333;
}

.resultItem{
	padding:15px!important;
}

.resultItem p{
	color: #666;
	font-size: 14px!important;
	margin:0px 0px 10px 0px;
}

.results-item{

}

.bg-gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefd+43,dce3c4+78,aebf76+100 */
background: #fefefd; /* Old browsers */
background: -moz-linear-gradient(top, #fefefd 43%, #dce3c4 78%, #aebf76 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefefd 43%,#dce3c4 78%,#aebf76 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefefd 43%,#dce3c4 78%,#aebf76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#aebf76',GradientType=0 ); /* IE6-9 *//* IE6-9 */
}

.bg-car-pooling{
	background-color:#36506b;
}

.bg-gruppi-di-acquisto{
	background-color:#36506b;
}

.bg-banca-del-tempo{
	background-color:#36506b;
}

.bg-eventi{
	background-color:#36506b;
}

.bg-spazi-condivisi{
	background-color:#36506b;
}

.bg-red{
	background: red;
}

.category-btn{
	padding: 12px;
    color: #fff !important;
    display: block;
    text-align: center;
    margin-bottom:5px;
    font-size: 16px;
    border-radius: 4px;
    font-size: 20px;
}

.button{
	font-size: 20px !important;
}

.results-list{

}

#result-page{
	padding-top:30px;
}

.results-list .results-item .result-icon{
	color:#fff;
	display: block;
	text-align: center;
}

.results-list a{
	color: #6d6d72
}

.results-list .results-item{
	padding:10px 0px;
}

.results-list .results-item p, .results-list .results-item h3{
	padding:0px;
	margin:0px;
	line-height: 16px;
}

.results-list .results-item h3{
	margin: 5px 0px;
}

.results-list .results-item p{
	font-size: 13px;
}

.block-no-v-margin{
	margin:0px 0px !important;
}

.border-bottom-1px-grey{
	border-bottom:1px solid #ececec;
}

.toolbar-results-list-filters{
	top:44px!important;
}

.button.button-active, .button.tab-link-active{
	background: #d10a11 !important;
	color:white!important;
}

.segmented .button{
	border-color:white!important;
	color:#d10a11;
}


.toolbar-inner a {
	color:#36506b!important;
}

.product-page-user-info{
	text-align: center
}

.product-page-user-info h3{
	margin:0px 0px 10px 0px;
}

.product-page-user-info p{
	margin:0px;
}

.map{
	width: 100%;
	height:320px;
}

.map.full-screen{
	height:100%;
}

.map-product{
	height: 240px;
	width: 100%;
}

.item-after{
	color:#555!important;
	max-width: 100%!important;
	padding-left:0px!important;
	margin-top:10px!important;
}

.color-green2{
 background-color:#93c01f!important;
 color:#fff;
}

.border-tick-white{
	border:3px solid white!important;
}

.button{
	border-radius: 0px!important;
	text-transform: uppercase;
	font-weight: bold;
}

.button.button-big{
	height: 50px!important;
	line-height: 50px!important;
}

.button.button-big.btn-enter{
	height: 70px!important;
	line-height: 20px!important;
	padding-top:12px!important;
}

.button.button-big.btn-enter span{
	font-size: 12px!important;
	
}

.bg-green2{
	background-color:#bed979!important;
}

.form-white-fields{
	color:#fff!important;
}

.form-white-fields .item-label{
	color:#fff!important;
}

.form-white-fields input,.form-white-fields select{
	color:#fff!important;
	border-bottom: 1px solid white;
}


.form-white-fields input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.form-white-fields input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.form-white-fields input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.form-white-fields input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.bg-white{
	background-color:#fff!important;
}

.margin-bottom-15{
	margin-bottom: 15px;
}

.toolbar-fuxia{
	background-color: #d52f7d;
}
.toolbar-blue{
	background-color: #54a6dd;
}
.toolbar-orange{
	background-color: #e79636;
}
.toolbar-green{
	background-color: #3e8b3e;
}
.toolbar-violet{
	background-color: #5f277f;
}

.toolbar-fuxia a{
	background-color: #d52f7d;
	color:white!important;
}
.toolbar-blue a{
	background-color: #54a6dd;
	color:white!important;
}
.toolbar-orange a{
	background-color: #e79636;
	color:white!important;
}
.toolbar-green a{
	background-color: #3e8b3e;
	color:white!important;
}
.toolbar-violet a{
	background-color: #5f277f;
	color:white!important;
}





.link.icon-only{
	color:#93c01f!important;
	font-size: 28px;
}



.navbar{
	margin:0px !important;
	height:60px !important;
}

