body {
    font-family: 'Proxima Nova', Georgia, sans-serif !important;
}

.md .list .item-label,
.ios .list .item-label{
    color: #cccccc;
    font-size: 13px;
}

.scheduloo-mods .color-pink{
    color:#d10a11;
}
.page-scheduloo-cosa.page>.toolbar,
.page-scheduloo-cosa.view>.toolbar,
.page-scheduloo-cosa.views>.toolbar{
    position: fixed;
}
.button.color-blue.button-fill.buttons-full{
    background: #229bdc !important;
}

.reg_form .color-pink.button-fill,
.color-pink.button-fill.buttons-full{
    background: #d10a11 !important;
}
::placeholder{
    color: #585858;
}
::-webkit-input-placeholder { 
    color: #585858; text-overflow: ellipsis; 
}
:-moz-placeholder { 
    color: #585858 !important; text-overflow: ellipsis; 
}
::-moz-placeholder { 
    color: #585858 !important; text-overflow: ellipsis; 
} /* For the future */
:-ms-input-placeholder { 
    color: #585858 !important; text-overflow: ellipsis; 
}
.number-center .item-input-wrap input{
    text-align: center;
}
.md .list input[type=date],
.md .list input[type=datetime-local],
.md .list input[type=email],
.md .list input[type=number],
.md .list input[type=password],
.md .list input[type=search],
.md .list input[type=tel],
.md .list input[type=text],
.md .list input[type=time],
.md .list input[type=url],
.ios .list input[type="text"],
.ios .list input[type="password"],
.ios .list input[type="search"],
.ios .list input[type="email"],
.ios .list input[type="tel"],
.ios .list input[type="url"],
.ios .list input[type="date"],
.ios .list input[type="datetime-local"],
.ios .list input[type="time"],
.ios .list input[type="number"],
.ios .list select,
.md .list select{
    color: #585858;
}
.bg-black{
    color: #ffffff;
}
.margin-0{
    margin: 0;
}
.reg_form .list .item-inner{
    margin-bottom: 16px;
}
.padding-0,
.splashFooter .block,
.splashFooter .block .row {
    padding: 0px;
}
.padding-10{
    padding: 10px;
}
.margin-bottom-10{
    margin-bottom:10px !important;
}
.input-bg input{
    background-color: #ddd;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff !important;
}

.offerte-speciali a{
    padding: 16px;
    background-color:#440063;
    color: #fff;
    display: block;
    text-align: center;
}

.image-block{
    position: relative;
    margin-bottom: 14px;
}

.image-block .image-caption{
    position: absolute;
    bottom: 14px;
    left: 0;
    padding: 6px;
    background-color: #fff;
    font-weight: bold;
}
.scheduloo-mods .block.btn-panel{
    background-color: #f7f7f7;
    padding: 16px 15px;
    border-bottom: 1px solid #bdbdbd;
}
.scheduloo-mods .block.btn-panel .button{
    background-color: #f7f7f7;
    color: #111111;
}
.scheduloo-mods .block,
.scheduloo-mods .list{
    margin: 20px 0;
}
.results-scheduloo > .block{
    margin: 0;
    padding: 0;
}

.results-scheduloo .image-panel{
    position: relative;
}

.results-scheduloo .image-panel .post-caption{
    position: absolute;
    right: 14px;
    bottom: -20px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.results-scheduloo .post-title{

}
.reg_form .item-input-wrap:after,
.ios .list .item-inner:after{
    background-color: #c8c7cc;
}
.md .tabbar-labels a.link{
    padding-bottom: 6px;
}
.md .navbar,
.ios .navbar,
.navbar:after,
.md .navbar:after,
.ios .navbar:after,
.reg_form .list ul,
.reg_form .list ul:before,
.reg_form .list ul:after,
.list-style-box .list ul:after,
.scheduloo-mods .list ul:after,
.scheduloo-mods .list ul:before,
.scheduloo-mods .item-input-wrap:after,
.scheduloo-mods .list .item-inner:after,
.list-style-box .links-list ul li a:after{
    background-color: transparent;
    background:transparent;
}
.scheduloo-mods .list .item-media{
    padding-top: 13px;
}
.scheduloo-mods .inline-labels ul li,
.list-style-box .links-list ul li a{
    border-bottom: 1px solid rgba(200, 199, 204, 0.46);
}

img.responsive-fill {
    width : 100%;
    height: auto;
}
img.img-responsive {
    max-width : 100%;
    height: auto;
}

.font-size-14,
.sale-step2 .item-text,
.sale-step2 .item-subtitle,
.label-checkbox .item-title,
.list-block ul.ui-controlla .total-box,
.ui-controlla .price-box .item-content .item-media,
.ui-controlla .price-box .item-content .item-inner{
    font-size: 14px;
}
.text-center{
    text-align: center;
}
.padding-0{
    padding: 0;
}
.margin-top-0{
    margin-top: 0 !important;
}
.white-bg,
.navbar-white,
.page-scheduloo-cosa .navbar{
    background-color: #ffffff;
}
.bg-black,
.page-home{
    background-color: #000000;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.ios .navbar a.icon-only{
    color: #fff;
    width: 22px;
}

.navbar .navbar-white a.back{
    color: #000;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.app-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.app-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    padding-top: 100px;
}

.splashFooter{
    position: fixed;
    bottom: 0px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.buttons-full{
    width: 100%;
}