<!-- Initial Page, "data-name" contains page name -->
<div data-name="categories" class="page">
    
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="reg_form">
            <div class="bg-white text-center padding-10" style="margin-top:-44px">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <form id="sign-up-confirm-form">
                    <input type="hidden" name="telephone" value="{{telephone}}">
                    <div class="block">
                    	<div class="row">
                    		<div class="col-50 text-center margin-bottom-15"><a href="/results-list/1/"><img style="width: 100%" src="img/cat1.png"></a></div>
                    		<div class="col-50 text-center margin-bottom-15"><a href="/results-list/2/"><img style="width: 100%" src="img/cat2.png"></a></div>
                    		<div class="col-50 text-center margin-bottom-15"><a href="/results-list/3/"><img style="width: 100%" src="img/cat3.png"></a></div>
                    		<div class="col-50 text-center margin-bottom-15"><a href="/results-list/4/"><img style="width: 100%" src="img/cat4.png"></a></div>
                    		<div class="col-100 text-center margin-bottom-15"><a href="/results-list/5/"><img style="width: 50%" src="img/cat5.png"></a></div>
                    		<div class="col-100 text-center"><a href="/item-insert-form/" class="sign-up-verify button color-green2 border-tick-white button-fill button-big buttons-full">AGGIUNGI ANNUNCIO</a></div>
                    	</div>
                    </div>
                </form>
                <div class="block">
                    <!--<p class="text-center">Non ho ricevuto il codice, invia di nuovo</p>-->
                </div>
            </div>
        </div>
    </div>
</div>