<!-- Initial Page, "data-name" contains page name -->
<div data-name="chats-list" class="page page-scheduloo-cosa">

<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner bg-white">
        <div class="left line-button">
            <a href="" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
        </div>
        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
       
    </div>
</div>



<!-- Scrollable page content -->
<div class="page-content white-bg">
    <script id="chats-list-template">
                {{#each results}}
                <div class="block block-no-v-margin border-bottom-1px-grey">
                    <a href="/chat/{{ads_id}}/{{cms_users_id}}/">
                        <div class="row results-item">
                            <div class="col-100">
                                <p>{{category_name}}</p>
                                <h3>{{ad_title}}</h3>                                
                                <p>{{name}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </script>
            <div id="chats-list"></div>
</div>
</div>