<!-- Initial Page, "data-name" contains page name -->
<div data-name="chat" class="page page-scheduloo-cosa">

  <!-- Top Navbar -->
  <div class="navbar">
      <div class="navbar-inner bg-white">
          <div class="left line-button">
              <a href="" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
          </div>
          <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
          
      </div>
  </div>
       
 <div class="toolbar messagebar">
    <div class="toolbar-inner">
      <div class="messagebar-area">
        <textarea class="resizable" placeholder="Messaggio"></textarea>
      </div><a class="link send-link" href="#">Invia</a>
    </div>
  </div>
  <div class="page-content messages-content">
    <script class="messages-template">
      {{#each messages}}
      <!-- Messages title -->
      <div class="messages-title"></div>
      <!-- Full layout sent message -->
      <div class="message {{class}}">
        <!--<div class="message-avatar" style="background-image:url(http://lorempixel.com/100/100/people/7);"></div>-->
        <div class="message-content">
          <div class="message-name">{{name}}</div>
          <!--<div class="message-header">Message header</div>-->
          <div class="message-bubble">
            <!--<div class="message-text-header">Text header</div>-->
            <div class="message-text">{{text}}</div>
            <!--<div class="message-text-footer">Text footer</div>-->
          </div>
          <!--<div class="message-footer">Message footer</div>-->
        </div>
      </div>
      {{/each}}
    </script>
    <div class="messages"></div>
  </div>
</div>
