<!-- Initial Page, "data-name" contains page name -->
<div data-name="register1_scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="reg_form">
            <div class="cover-container text-center">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <div class="block">
                    <ul class="margin-bottom-10">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">NOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="NOME">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">COGNOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="COGNOME">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">DATA DI NASCITA</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="DATA DI NASCITA" readonly="readonly" id="demo-calendar-date-format">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">SESSO</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Please choose...">
                                        <option hidden="">Scegli</option>
                                        <option value="Male">Maschio</option>
                                        <option value="Female">Femmina</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="splashFooter">
                    <div class="block">
                        <a href="/register2-scheduloo/" class="button color-pink button-fill button-big buttons-full">Avanti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>