<!-- Initial Page, "data-name" contains page name -->
<div data-name="home_scheduloo_mods" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner navbar-white">
            <div class="left line-button">
<!--                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>-->
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#" class="link">
                <i class="icon-magnifier"></i>
                <span class="tabbar-label">ESPLORA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-heart"></i>
                <span class="tabbar-label">SALVATI</span>
            </a>
            <a href="#" class="link">
                <i class="icon-speech"></i>
                <span class="tabbar-label">POSTA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-user"></i>
                <span class="tabbar-label">PROFILO</span>
            </a>
        </div>
    </div>

    <!-- Scrollable page content -->
    <div class="page-content white-bg">
        <div class="scheduloo-mods">
            <div class="list inline-labels no-hairlines-md">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-media">
                            <i class="icon-magnifier"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="Cosa vuoi prenotare?">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="row">
                            <div class="col-10">
                                <div class="item-media">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div class="col-40">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Quando?" readonly="readonly" id="demo-calendar-date-format">
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="item-media">
                                    <i class="icon-control-play"></i>
                                </div>
                            </div>
                            <div class="col-40">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <input type="text" placeholder="Vicino a Me">
                                        <span class="input-clear-button"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="block">
                <p class="color-pink"><strong>I servizi più Richiesti a Firenze</strong></p>
                <p class="offerte-speciali">
                    <a href="" class="link">Invita i tuoi amici e ricevi offerte speciali</a>
                </p>
                <div class="row">
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Taglio Capelli Uomo</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Solarium Viso</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Taglio Capelli Uomo</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Solarium Viso</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Taglio Capelli Uomo</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Solarium Viso</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Taglio Capelli Uomo</span>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="image-block">
                            <img src="http://via.placeholder.com/600x400" class="img-responsive" alt="" />
                            <span class="image-caption">Solarium Viso</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>