<!-- Initial Page, "data-name" contains page name -->
<div data-name="home_scheduloo_mods" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
        </div>
    </div>

    <!-- Toolbar -->
   

    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="scheduloo-mods">
            <div class="block">
                <div class="row">
                    <div class="col-100">
                        <a href="/results-list/" class="bg-car-pooling category-btn"><i class="fas fa-car"></i> Car pooling</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-100">
                        <a class="bg-gruppi-di-acquisto category-btn"><i class="fas fa-shopping-cart"></i> Gruppi di acquisto</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-100">
                        <a class="bg-banca-del-tempo category-btn"><i class="far fa-clock"></i> Banca del tempo </a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-100">
                        <a class="bg-eventi category-btn"><i class="far fa-calendar-alt"></i> Eventi</a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-100">
                        <a class="bg-spazi-condivisi category-btn"><i class="fas fa-map-marked-alt"></i> Spazi condivisi</a>
                    </div>
                </div>
                <div class="splashFooter">
                    <div class="block">
                        <a href="/item-insert-form/" class="button color-pink button-fill button-big buttons-full"><i class="fas fa-plus-circle"></i> Aggiungi annuncio</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>