<!-- Initial Page, "data-name" contains page name -->
<div data-name="home" class="page">
   <!-- <div class="fab fab-right-top color-pink">
    <a href="#">
      
      <i class="icon-options-vertical"></i>
      <i class="icon-options"></i>
    </a>
    
    <div class="fab-buttons fab-buttons-left">
      <a href="/page-scheduloo-cosa/" class="link">1</a>
      <a href="/page-scheduloo-cosa-1/" class="link">2</a>
      <a href="/results-scheduloo/" class="link">3</a>
      <a href="/when-scheduloo/" class="link">4</a>
    </div>
  </div>-->
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="app-wrapper">
            <div class="app-wrapper-inner">
                <div class="cover-container">
                    <div class="text-center">
                        <a href=""><img src="img/logo_ioabito_community.png" alt="" width="230" class="img-responsive" /></a>
                    </div>
                    <div class="splashFooter">
                        <div class="block">
                            <div class="row">
                                <a href="/sign-up/" class="button color-pink button-fill button-big buttons-full margin-bottom-10">Registrati</a>
                                <!--<a href="/home-categories/" class="button color-pink button-fill button-big buttons-full margin-bottom-10">Registrati</a>-->
                                <!--<button class="button color-blue button-fill button-big buttons-full"><i class="icon-social-facebook"></i> Continua con Facebook</button>-->
                            </div>
                        </div>
                        <div class="block">
                            <div class="text-center">
                                <a href="/sign-in/" class="button color-green2 border-tick-white button-fill button-big buttons-full margin-bottom-10 btn-enter">
                                Entra<br/>
                                <span>Sono già registrato</span>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>