<html>
<head>
    <meta charset="utf-8">
        <!--        <meta name="viewport" content="width=device-width,height=device-height, target-densitydpi=device-dpi, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
            <meta name="apple-mobile-web-app-capable" content="yes">-->

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
            <meta name="apple-mobile-web-app-capable" content="yes">

            <meta name="apple-mobile-web-app-status-bar-style" content="black">
            <meta name="theme-color" content="#2196f3">
            <title>io|ABITO</title>
            <!-- Path to Framework7 Library CSS-->
            <link rel="stylesheet" href="css/framework7.min.css">
            <!-- Path to Framework7 ICON CSS-->
            <link rel="stylesheet" href="css/framework7-icons.css">
            <!-- Path to Material ICON CSS-->
            <link rel="stylesheet" href="css/material-icons.css">
            <!-- Path to line ICON CSS-->
            <link rel="stylesheet" href="fonts/proxima-nova/fonts.css">
            <link rel="stylesheet" href="css/line-icons/css/simple-line-icons.css">
            <!-- Path to Framework7 COLOR CSS-->
            <link rel="stylesheet" href="css/framework7.ios.colors.css">
            <!-- Path to your custom app styles-->
            <link rel="stylesheet" href="css/my-app.css">
            <!-- Path to MGC app styles-->
            <link rel="stylesheet" href="css/mgc.css">
            <!--        <script type="text/javascript" src="phonegap.js"></script>-->
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvtm8JBKzp5KzV_vcL2EDpUHWi6omOhVw&libraries=places&sensor=false"></script>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        </head>
        <body>
            <!-- App root element -->
            <div id="app">
                <div class="panel panel-right panel-reveal">
                    <div class="block">
                       <p>Menu</p>
                       <div id="panelLinksTemplate">
                            {{#each links}}
                           <p><a class="panel-open" href="/text_content/{{id}}/" data-panel="left">{{title}}</a></p>
                           {{/each}}
                       </div>
                       <div id="panelLinks"></div>
                        
                    </div>
                </div>
                <!-- Statusbar overlay -->
                <div class="statusbar"></div>

                <!-- Your main view, should have "view-main" class -->
                <div class="view view-init view-main">
                </div>
            </div>
            <!-- Path to Framework7 Library JS-->
            <script type="text/javascript" src="js/framework7.js"></script>
            <!-- Path to your app js-->
            <script type="text/javascript" src="js/my-app.js"></script>
            <!-- Path to your custom functions app js-->
            <script type="text/javascript" src="js/custom.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
            

        </body>
        </html>
