<!-- Initial Page, "data-name" contains page name -->
<div data-name="results-list" class="page page-scheduloo-cosa">


	<div class="navbar">
	    <div class="navbar-inner bg-gradient">
	        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
	    </div>
	</div>

	<div class="page-content bg-gradient">
		<div class="block text-align-center">
			<div class="row">
				<h3>Grazie! Abbiamo ricevuto il tuo annuncio. Il nostro team lo valuterà, prima di pubblicarlo, nel più breve tempo possibile.</h3>
				<a href="/results-list/" class="button color-green2 border-tick-white button-fill button-big buttons-full margin-bottom-10 btn-enter">
                                Torna alla lista degli annunci
				</a>
			</div>
		</div>
	</div>
</div>