<!-- Initial Page, "data-name" contains page name -->
<div data-name="register1_scheduloo" class="page">
   <div class="navbar">
      <div class="navbar-inner">
         <div class="left line-button">
            <a href="" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
         </div>
         <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
      </div>
   </div>
   <!-- Scrollable page content -->
   <div class="page-content bg-gradient">
      <form id="new-item-form">
         <div id="item-insert-form"></div>
         <div id="item-insert-form-template" style="display:none">
            <input type="hidden" name="cms_users_id" value="{{cms_users_id}}">
            <div class="reg_form">
                <div class="list no-hairlines-md">
                  <div class="block">
                     <ul class="margin-bottom-10">
                        
                        <li class="item-content item-input">
                           <div class="item-inner">
                                 <div class="item-title item-label">Categoria</div>
                                 <div id="ads-categories-list"></div>
                                 <select name="ad_categories_id"> 
                                    {{#each categories}}
                                    <optgroup label="{{name}}">                                       
                                       {{#each children}}
                                       <option categories_id="{{categories_id}}" value="{{id}}" >{{name}}</option>
                                       {{/each}}
                                    </optgroup>
                                    {{/each}}
                                 </select>
                           </div>
                        </li>
                        <li class="item-content item-input">
                           <div class="item-inner">
                              <div class="item-title item-label">Titolo</div>
                              <div class="item-input-wrap">
                                 <input name="ad_title" type="text" placeholder="Il titolo del tuo annuncio">
                              </div>
                           </div>
                        </li>
                        <li class="item-content item-input">
                           <div class="item-inner">
                              <div class="item-input-wrap">
                                 <textarea name="ad_description" placeholder="Descrivi il tuo annuncio"></textarea>
                              </div>
                           </div>
                        </li>
                        <li class="item-content item-input">
                           <div class="item-inner">
                              <div class="item-title item-label" id="item-insert-label-from">Da</div>
                              <div class="item-input-wrap">
                                  <div class="row">
                                        <div class="col-100">
                                          <input id="address1" name="p1_full_address" type="text" placeholder="Via Roma, 101 Firenze">
                                       </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="item-content item-input" id="p2_address">
                           <div class="item-inner">
                              <div class="item-title item-label">A</div>
                              <div class="item-input-wrap">
                                 <input id="address2" name="p2_full_address" type="text" placeholder="Via Francia, 11 Firenze">
                              </div>
                           </div>
                        </li>
                        <li class="item-content item-input">
                           <div class="item-inner">
                              <div class="item-input-wrap">
                                 <a href="#" id="new-item-form-submit" class="button color-pink button-fill button-big buttons-full">Conferma</a>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
                  
               </div>
            </div>
         </div>
      </form>
   </div>
</div>