<!-- Initial Page, "data-name" contains page name -->
<div data-name="product-page" class="page page-scheduloo-cosa">

<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner bg-white">
        <div class="left line-button">
            <a href="" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
        </div>
        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
        
    </div>
</div>

<script id="result-page-template">
  <div class="page-content white-bg" >
   <div class="block block-no-v-margin border-bottom-1px-grey">
      <div class="row results-item">
        <div class="col-100">
          <h3>{{result.ad_title}}</h3>
          <p><i class="fa-map-marker fa"></i> {{#js_if 'this.result.parent_category_name == "Car pooling"'}}da:{{/js_if}} {{result.p1_full_address}} </p>
                      {{#js_if 'this.result.parent_category_name == "Car pooling"'}}
                          <p><i class="fa-map-marker fa"></i> a: {{result.p2_full_address}} </p>
                      {{/js_if}}
          <p>{{result.ad_description}}</p>
        </div>
      </div>
      <div id="map-product" class="map"></div>
      <div class="row">
        <div class="col-100 product-page-user-info">
          <h3>{{result.name}}</h3>
          <p>{{result.count_user_ads}} annunci caricati</p>
        </div>
      </div>
    </div>
  </div>
</script>
<div class="toolbar tabbar-labels toolbar-bottom-md" id="toolbarBottom">
  <div class="toolbar-inner resultsListToolbar">
      <a id="phoneCall" class="link external">
          <i class="icon f7-icons">phone</i>
          <span class="tabbar-label">Chiama</span>
      </a>
      <a id="chatHref" href="/chat/" class="link">
          <i class="icon f7-icons">chat</i>
          <span class="tabbar-label">Chatta</span>
      </a>
  </div>
</div>
     
<div id="result-page"></div>
</div>
