<!-- Initial Page, "data-name" contains page name -->
<div data-name="register2-scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="reg_form">
            <div class="cover-container text-center">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <div class="block">
                    <ul class="margin-bottom-10">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">EMAIL</div>
                                <div class="item-input-wrap">
                                    <input type="email" placeholder="EMAIL">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">PASSWORD</div>
                                <div class="item-input-wrap">
                                    <input type="password" placeholder="PASSWORD">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">RIPETI PASSWORD</div>
                                <div class="item-input-wrap">
                                    <input type="password" placeholder="RIPETI PASSWORD">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">CELLULARE</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-20"><input type="number" placeholder="+39"></div>
                                        <div class="col-80"><input type="number" placeholder="CELLULARE"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="splashFooter">
                    <div class="block">
                        <a href="/register3-scheduloo/" class="button color-pink button-fill button-big buttons-full">Avanti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>