<!-- Initial Page, "data-name" contains page name -->



<div data-name="results-list" class="page page-scheduloo-cosa">




<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner bg-white">
        <div class="left line-button">
            <a href="/categories/" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
        </div>
        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
        <div class="right line-button">
            <a href="#" class="link icon-only panel-open" data-panel="left"><i class="fas fa-question-circle"></i></a>
        </div>
        <div class="subnavbar ">
            <div class="subnavbar-inner white-bg">
                <div class="segmented segmented-raised">
                    <a class="button tab-link tab-link-active" href="#tab1">Lista</a>
                    <a class="button tab-link" href="#tab2">Mappa</a>
                    <a class="button tab-link" href="#tab3">Filtra per</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Toolbar -->
<div class="toolbar tabbar-labels toolbar-bottom-md">
    <div class="toolbar-inner resultsListToolbar">
        <a href="/categories/" class="link">
            <i class="icon-home"></i>
            <span class="tabbar-label">HOME</span>
        </a>
        <a href="/item-insert-form/" class="link">
            <i class="icon-plus"></i>
            <span class="tabbar-label">AGGIUNGI</span>
        </a>
        <a href="/chats-list/" class="link">
            <i class="icon-speech"></i>
            <span class="tabbar-label">POSTA</span>
        </a>
        <a href="/user/" class="link">
            <i class="icon-user"></i>
            <span class="tabbar-label">PROFILO</span>
        </a>
    </div>
</div>


<!-- Scrollable page content -->
<div class="page-content white-bg">
    <div class="tabs">
        <div class="tab tab-active" id="tab1">
            <script id="results-list-template">

                
                {{#if resultsFound}}
                    {{#each results}}
                    <div class="block block-no-v-margin border-bottom-1px-grey resultItem">
                        <a href="/product-page/{{ads_id}}/">
                            <div class="row results-item">
                                <div class="col-100">
                                    <p>{{category_name}}</p>
                                    <h3>{{ad_title}}</h3>
                                    <p><i class="fa-map-marker fa"></i> {{#js_if 'this.parent_category_name == "Car pooling"'}}da:{{/js_if}} {{p1_full_address}} </p>
                                    {{#js_if 'this.parent_category_name == "Car pooling"'}}
                                        <p><i class="fa-map-marker fa"></i> a: {{p2_full_address}} </p>
                                    {{/js_if}}
                                    <p>
                                    {{js "this.distance.toFixed(2)"}} Km - {{created_at}}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                {{else}}
                <div class="block">
                    <h3>
                        Al momento non ci sono annunci in questa sezione
                    </h3>
                </div>
                    
                {{/if}}
            </script>
            <div id="results-list"></div>
        </div>
        <div class="tab map-list" id="tab2">
            <div id="map-results" class="map full-screen">

            </div>
        </div>
        <div class="tab" id="tab3">
            <div class="block">
                
            <div class="list-style-box">
                <form id="results-list-filters-form">
                    <div class="list">
                        <ul>
                            <li class="item-content item-input">
                               <div class="item-inner">
                                <div id="categories-list"></div>
                                <script id="categories-list-template" >
                                      <div class="item-title item-label">Categoria</div>
                                 <div id="ads-categories-list"></div>
                                 <select name="ad_categories_id"> 
                                    {{#each categories}}
                                    <optgroup label="{{name}}">
                                       <option 
                                       {{selected}}
                                       categories_id="{{categories_id}}" value="{{id}}" >{{name}} (Tutti)</option>
                                       {{#each children}}
                                       <option categories_id="{{categories_id}}" value="{{id}}" >{{name}}</option>
                                       {{/each}}
                                    </optgroup>
                                    {{/each}}
                                 </select>
                                  </script>
                               </div>
                            </li>

                        </ul>        
                        <a href="#" id="results-list-filters-form-submit" class="button color-green2 border-tick-white button-fill button-big buttons-full">Filtra annunci</a>
                    </div>
                </form>
            </div>
            
            </div>
        </div>
        </div>
    </div>
</div>