<!-- Initial Page, "data-name" contains page name -->
<div data-name="register3-scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner ">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-green2">
        <div class="reg_form">
            <div class="bg-white text-center padding-10" style="margin-top:-44px">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <form id="sign-up-confirm-form">
                    <input type="hidden" name="telephone" value="{{telephone}}">
                    <div class="block">
                        <div class="text-center">
                            <p><strong>Inserisci il tuo Codice</strong></p>
                                 +39<span id="sign-up-confirm-telephone">{{telephone}}</span></p>
                        </div>
                        <ul class="margin-bottom-10 number-center">
                            <li class="item-content item-input">
                                <div class="item-inner">
                                    <div class="item-input-wrap">
                                        <div class="row input-bg verify-token-cyphres">
                                            <input class="col-20 bg-white" type="number" placeholder="" maxlength="1">
                                            <input class="col-20 bg-white" type="number" placeholder="" maxlength="1">
                                            <input class="col-20 bg-white" type="number" placeholder="" maxlength="1">
                                            <input class="col-20 bg-white" type="number" placeholder="" maxlength="1">
                                            <input class="col-20 bg-white" type="number" placeholder="" maxlength="1">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="sign-up-confirm-form-submit button color-green2 border-tick-white button-fill button-big buttons-full">Continua</a>                
                    </div>
                </form>
                <div class="block">
                    <!--<p class="text-center">Non ho ricevuto il codice, invia di nuovo</p>-->
                </div>
            </div>
        </div>
    </div>
</div>