<!-- Initial Page, "data-name" contains page name -->
<div data-name="register1_scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-green2">
        <div class="reg_form">
            <div class="bg-white text-center padding-10" style="margin-top:-44px">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <form action="http://localhost:8000/api/users_add_create" method="POST" id="sign-up-form" class="form-ajax-submit form-white-fields">
                <div class="block">
                    
                    <ul class="margin-bottom-10">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">NOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="Obbligatorio" name="name">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">COGNOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="Obbligatorio" name="surname">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">DATA DI NASCITA</div>
                                <div class="item-input-wrap">
                                    <input name="date_of_birth" type="text" placeholder="Obbligatorio" readonly="readonly" id="demo-calendar-date-format">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">SESSO</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Please choose..." name="gender">
                                        <option hidden="">Scegli</option>
                                        <option value="Male">Maschio</option>
                                        <option value="Female">Femmina</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">CELLULARE</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-100"><input type="number" placeholder="Obbligatorio" name="telephone"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">INDIRIZZO</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-100"><input id="address1" type="text" placeholder="Obbligatorio" name="cms_user_full_address"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">EMAIL</div>
                                <div class="item-input-wrap">
                                    <input type="email" placeholder="Opzionale" name="email">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="block row">
                        <!--<a href="/chat/" class="button color-green2 border-tick-white button-fill button-big buttons-full">Chat</a>
                        <a href="/categories/" class="button color-green2 border-tick-white button-fill button-big buttons-full">Categories</a>
                        <a href="/results-list/" class="sign-up-verify button color-green2 border-tick-white button-fill button-big buttons-full">List</a>-->
                        <!--<a href="#" class="sign-up-verify button color-green2 border-tick-white button-fill button-big buttons-full">Verify User</a>-->
                        <a href="#" class="sign-up-form-submit button color-green2 border-tick-white button-fill button-big buttons-full">Avanti</a>
                        <!--<button type="submit" href="#" class="button color-green2 border-tick-white button-fill button-big buttons-full">Avanti</button>-->
                    
                </div>
                 <div class="block">
                            <div class="text-center">
                                <a style="color:black" href="/home/">Torna indietro</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>