<!-- Initial Page, "data-name" contains page name -->
<div data-name="register1_scheduloo" class="page">
    <div class="navbar">
        <div class="navbar-inner">
<!--            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>-->
            <div class="title"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content bg-gradient">
        <div class="reg_form">
            <div class="cover-container text-center">
                <a href=""><img src="img/ioabitologo.png" alt="" width="220" class="img-responsive" /></a>
            </div>
            <div class="list no-hairlines-md">
                <form action="http://localhost:8000/api/users_add_create" method="POST" id="sign-up-form" class="form-ajax-submit">
                <div class="block">
                    
                    <ul class="margin-bottom-10">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">CELLULARE</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-80"><input type="number" placeholder="CELLULARE" name="telephone"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    </div>
                    <div class="block text-align-center">
                            <a id="sign-in-submit" href="#" class="button color-pink button-fill button-big buttons-full">Accedi</a>
                    </div>

                        <div class="block">
                            <div class="text-center">
                                <a style="color:black" href="/home/">Torna indietro</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>