<!-- Initial Page, "data-name" contains page name -->
<div data-name="text-content" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner bg-white">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="fas fa-chevron-left"></i></a>
            </div>
            <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
           
        </div>
    </div>



    <!-- Scrollable page content -->
    <div class="page-content white-bg">
        <script id="textContentTemplate">
            <div class="block">
            <h3>{{title}}</h3>
            <div>{{content}}</div>
            </div>
        </script>
        <div id="textContent"></div>
    </div>
</div>