<!-- Initial Page, "data-name" contains page name -->
<div data-name="register1_scheduloo" class="page">
    <div class="navbar">
    <div class="navbar-inner bg-gradient">
        <div class="left line-button">
            <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="title"><a class="link" href=""><img src="img/ioabitologo.png" width="120" class="img-responsive" alt="" /></a></div>
    </div>
</div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="reg_form">
            <div class="list no-hairlines-md">
            	<script id="update-user-form-template">
                <form action="http://localhost:8000/api/users_add_create" method="POST" id="user-update-form" class="form-ajax-submit">
                <input type="hidden" name="id" value="{{id}}">
                <div class="block">
                    <ul class="margin-bottom-10">
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">NOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="NOME" name="name" value="{{name}}">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">COGNOME</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="COGNOME" name="surname" value="{{surname}}">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">DATA DI NASCITA</div>
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="DATA DI NASCITA" readonly="readonly" id="demo-calendar-date-format" name="date_of_birth"  value="{{date_of_birth}}">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">SESSO</div>
                                <div class="item-input-wrap">
                                {{#js_if "typeof(gender) != 'undefined'"}}
                                	<select placeholder="Please choose..." name="gender">
                                        <option hidden="">Scegli</option>
                                        <option value="Male" {{#js_if "gender=='Male'"}} selected {{/js_if}}>Maschio</option>
                                        <option value="Female" {{#js_if "gender=='Female'"}} selected {{/js_if}}>Femmina</option>
                                    </select>
                                {{else}}
                                	<select placeholder="Please choose..." name="gender">
                                        <option hidden="">Scegli</option>
                                        <option value="Male">Maschio</option>
                                        <option value="Female">Femmina</option>
                                    </select>
                                {{/js_if}}
                                    
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">CELLULARE</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-80"><input type="number" placeholder="CELLULARE" disabled name="telephone" value="{{telephone}}"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">INDIRIZZO</div>
                                <div class="item-input-wrap">
                                    <div class="row">
                                        <div class="col-80"><input type="text" placeholder="Via Roma, 1 Firenze" name="cms_user_full_address" value="{{cms_user_full_address}}"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">EMAIL</div>
                                <div class="item-input-wrap">
                                    <input type="email" placeholder="EMAIL" name="email" name="email" value="{{email}}">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="block row">
                        <a href="#" id="user-update-form-submit" class="button color-pink button-fill button-big buttons-full">Salva</a>
                </div>
                </form>
                </script>
                <div id="update-user-form"></div>
                <hr>
                <div class="block row">
                        <a href="#" id="sign-out-submit" class="button color-pink button-fill button-big buttons-full">Esci</a>
                </div>
            </div>
        </div>
    </div>
</div>