<!-- Initial Page, "data-name" contains page name -->
<div data-name="when-scheduloo" class="page page-scheduloo-cosa">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner navbar-white">
            <div class="left line-button">
                <a href="" class="link icon-only back"><i class="icon-arrow-left"></i></a>
            </div>
            <div class="title">Scegli quando</div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#" class="link">
                <i class="icon-magnifier"></i>
                <span class="tabbar-label">ESPLORA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-heart"></i>
                <span class="tabbar-label">SALVATI</span>
            </a>
            <a href="#" class="link">
                <i class="icon-speech"></i>
                <span class="tabbar-label">POSTA</span>
            </a>
            <a href="#" class="link">
                <i class="icon-user"></i>
                <span class="tabbar-label">PROFILO</span>
            </a>
        </div>
    </div>

    <!-- Scrollable page content -->
    <div class="page-content white-bg">
        <div class="scheduloo-mods">
            <div class="block btn-panel">
                <div class="row">
                    <a href="" class="col button button-fill color-gray link">Prima Possibile</a>
                    <a href="" class="col button button-fill color-gray link">Domani</a>
                </div>
            </div>
            <div class="block">
                Calendar here
            </div>
        </div>
    </div>
</div>